@import "./variables.scss";

#docsNav {
    overflow-x: hidden;

    .divider {
        padding: 10px;
        margin-left: 16px;
        margin-block: 25px 0;
        color: $foreground-300;
        text-transform: lowercase;
        pointer-events: none;
    }

    a {
        position: relative;
        display: block;
        padding: 10px;
        margin-left: 16px;
        margin-bottom: 4px;
        border-radius: 8px;
        text-decoration: none;
        color: $foreground-100;
        width: fit-content;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            background-color: $bg-200;
        }

        &:active {
            opacity: $active-opacity;
        }

        &.active {
            color: $primary-100;
        }

        &.sub-link {
            margin-left: 40px;
            font-size: 14px;
            margin-bottom: 2px;

            +a:not(.sub-link) {
                margin-top: 25px;
            }
        }

        img.icon {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 12px;
            left: 2px;
            top: 3px;
        }
    }
}