@import "./variables.scss";

header {
    position: fixed;
    top: 0;
    left: 50%;
    height: $header-height;
    width: 100%;
    background-color: #ffffff88;
    border-bottom: 1px solid #ffffffdd;
    z-index: 10;
    backdrop-filter: saturate(1.5) brightness(4) blur(50px);
    transform: translateX(-50%);

    .contents {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        @include container;

        .logo {
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;

            >img {
                display: block;
                height: 70%;
                width: auto;
            }

            >h1 {
                font-size: 20px;
                font-weight: 500;
                color: $foreground-100;
                margin-left: 15px;
            }
        }

        .search-box {
            background-color: #85858511;
            border: 1px solid #85858534;
            border-radius: 500px;
            overflow: hidden;
            margin-left: auto;
            display: block;
            position: relative;
            height: 42px;
            width: 182px;
            transition: .25s cubic-bezier(0.165, 0.84, 0.44, 1);

            .placeholder {
                position: absolute;
                pointer-events: none;
                top: 50%;
                left: 16px;
                transform: translateY(-50%);
                color: $foreground-200;
                opacity: 1;
                font-size: 14px;
                transition: .25s cubic-bezier(0.165, 0.84, 0.44, 1);

                i {
                    position: relative;
                    top: 1px;
                    font-size: 16px;
                    margin-right: 3px;
                }

                kbd {
                    padding: 3px 6px;
                    border: 1px solid #85858534;
                    border-radius: 4px;
                }
            }

            input {
                font-family: $font-family;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                line-height: 42px;
                border: none;
                outline: none;
                background-color: transparent;
                padding-inline: 42px 18px;
            }

            &:has(input:focus) {
                background-color: #ffffffda;
                border-color: #85858541;
                width: 320px;

                .placeholder {
                    left: 0;
                    opacity: 0;
                }

                input {
                    padding-inline: 18px;
                }
            }
        }

        .nav-links {
            margin-left: 20px;
            display: flex;
            align-items: center;

            >a {
                color: $foreground-200;
                text-decoration: none;
                padding: 4px 16px;

                &:hover {
                    color: $foreground-100;
                }

                &:active {
                    opacity: $active-opacity;
                }

                &[nav-active] {
                    color: $primary-100 !important;

                    &:hover {
                        opacity: $hover-opacity;
                    }

                    &:active {
                        opacity: $active-opacity;
                    }
                }

                >i {
                    font-size: 1.75rem;
                    top: 1px;
                    position: relative;
                }
            }
        }
    }
}