@import "./variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font-family;
    font-size: 16px;
    scroll-behavior: smooth;

    &,
    body {
        margin: 0;
        background-color: #fff;
        color: $foreground-100;

        main {
            @include container;
            margin-top: $container-top;

            .button {
                display: inline-block;
                text-decoration: none;
                padding: 8px 22px;
                border-radius: 4px;
                background-color: $primary-100;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: $primary-200;
                }

                &:active {
                    opacity: $active-opacity;
                }

                &.alt {
                    background-color: transparent;
                    color: $primary-100;

                    &:hover {
                        background-color: rgba($primary-100, .1);
                    }
                }
            }

            &.doc-reader {
                position: relative;

                #docsContainer {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 80%;
                    height: auto;
                    padding-inline: 80px;
                }

                #docsNav {
                    position: sticky;
                    left: 0;
                    top: $header-height;
                    padding-block: 0 30px;
                    width: 20%;
                    height: 100%;
                    padding-inline: 15px;
                    max-height: calc(100svh - $header-height - $container-top);
                    overflow-y: scroll;
                }

                @media only screen and (max-width: $screen-lg) {
                    #docsContainer {
                        width: 75%;
                    }

                    #docsNav {
                        width: 25%;
                    }
                }

                @media only screen and (max-width: $screen-md) {
                    #docsContainer {
                        width: 70%;
                    }

                    #docsNav {
                        width: 30%;
                    }
                }

                @media only screen and (max-width: $screen-sm) {
                    #docsContainer {
                        width: 100%;
                    }

                    #docsNav {
                        width: 100%;
                    }
                }
            }
        }
    }
}