/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

@import "./variables.scss";

code,
pre {
    color: #f8f8f2;
    background: none;
    font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    font-size: 15px;
    max-height: 700px;
}

/* Code blocks */
pre {
    padding: 1em;
    margin: 1em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre)>code {
    background-color: #f3f5ff;
    color: #21273b;
    font-family: "REM", sans-serif;
    padding: 3px 6px;
    border-radius: 4px;
}

pre {
    background: #2E3440;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7d9387;
}

.token.punctuation {
    color: #b0b8c1;
}

.namespace {
    opacity: .7;
}

//.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #81A1C1;
}

.token.number {
    color: #d9add1;
}

.token.boolean {
    color: #90c8ff;
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
    color: #A3BE8C;
}

.token.string {
    color: #e38282;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #81A1C1;
}

.token.atrule,
.token.attr-value,
.token.class-name {
    color: #79cfc4;
}

.token.function {
    color: #EBCB8B;
}

.token.keyword {
    color: #7ab4ff;
}

.token.interface {
    color: #ccaedb;
}

.token.regex,
.token.important {
    color: #EBCB8B;
}

.token.struct {
    color: #bae396;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}