$primary-100: #052283;
$primary-200: #072dac;

$bg-100: #fff;
$bg-200: #f5f7fa;
$bg-300: #f3f3f3;
$bg-400: #e0e0e0;

$foreground-100: #050505;
$foreground-200: #7e7e7e;
$foreground-300: #9b9b9b;
$foreground-link: #1940ce;

$screen-sm: 700px;
$screen-md: 1300px;
$screen-lg: 1900px;

$active-opacity: .6;
$hover-opacity: .75;

$header-height: 64px;
$container-top: 140px;
$font-family: 'REM', sans-serif;

@mixin container {
    width: 100%;
    max-width: 1900px;
    margin-inline: auto;
    padding-inline: 15px;

    @media only screen and (max-width: $screen-lg) {
        max-width: 1700px;
    }

    @media only screen and (max-width: $screen-md) {
        max-width: 1100px;
    }

    @media only screen and (max-width: $screen-sm) {
        max-width: 680px;
    }
}

@mixin scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent #ffffff;

    &:hover {
        scrollbar-color: #858585 #ffffff;
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 7px;
        border: 1px solid #ffffff;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: #858585;
    }
}