pre {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    border-left: 1px solid gainsboro;
    padding: 1rem;
    font-size: 14px;
}

code.lang-cs .hljs-keyword,
code.lang-json .hljs-literal {
    color: blue;
}

code.lang-cs .hljs-title {
    color: rgb(24, 13, 0);
}

code.lang-cs .hljs-string,
code.lang-json .hljs-string {
    color: rgb(175, 0, 0);
}

code.lang-json .hljs-number,
code.lang-cs .hljs-number {
    color: #b96600;
}

code.lang-json .hljs-attr {
    color: darkblue;
}

code.lang-cs .hljs-comment {
    color: green;
}