table {
    border: 1px solid gainsboro;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    padding: 8px 6px;
}

table th {
    text-align: left;
    text-transform: lowercase;
    opacity: .6;
}

table tr {
    border-bottom: 1px solid gainsboro;
}

table a {
    text-decoration: none;
}

table td img {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    top: 2px;
    height: 16px;
    width: 16px;
}