table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    padding: 8px 2px;
}

table th  {
    text-align: left;
    text-transform: lowercase;
    opacity: .6;
}

table tr {
    border-bottom: 1px solid gainsboro;
}

table a {
    text-decoration: none;
}