<script>
    setPageTitle("News");
    app.navPage = "news";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section>
        <div class="section-content pad">
            <h1 style="margin-bottom: 6rem;">
                News
            </h1>
            <a class="blog-item" href="/news/r/breaking-changes-in-sisk-0-11">
                <div class="title">
                    Breaking changes in Sisk 0.11
                </div>
                <div class="datetime">
                    March 23th
                </div>
            </a>
            <a class="blog-item" href="/news/r/released-sisk-0-10">
                <div class="title">
                    Released Sisk 0.10
                </div>
                <div class="datetime">
                    March 15th
                </div>
            </a>
        </div>
    </section>
</div>