<script>
    setPageTitle("News");
    app.navPage = "news";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section>
        <div class="section-content pad">
            <a href="/news/index">Go to news directory</a>
            <h1>
                Released Sisk 0.10
            </h1>
            <p>
                Here's the changelog:
            </p>
            <ul>
                <li>Added: <code>ContentLength</code> property for <code>HttpRequest</code> objects.</li>
                <li>Added: <code>Close()</code> method for <code>HttpRequest</code> objects.</li>
                <li>Added: <code>OptionsLogMode</code> flag for the HTTP server.</li>
                <li>Added: <code>IncludeFullPathOnLog</code> flag for the HTTP server.</li>
                <li>Changed: the CORS <code>Allow-Origin</code> was an array accepting multiple values. The
                    <code>AllowOrigins</code> property was renamed and modified to be an
                    <code>string? AllowOrigin</code> instead previous <code>string[] AllowOrigins</code>. You might
                    change your service configuration in order of this change. Also was
                    fixed that this method allows nullable for now.
                </li>
                <li>Changed: exceptions thrown from an request handler body will now be supressed if
                    <code>ThrowExceptions</code> is enabled.
                </li>
                <li>Fixed: the <code>X-Powered-By</code> header wasn&#39;t being sent. You can disable it by turning
                    <code>HttpServerFlags.SendSiskHeader</code> to false.
                </li>
                <li>Fixed: <code>charset</code> on Content-Type wasn&#39;t being set by <code>StringContent</code>
                    helper.</li>
                <li>Fixed: Multipart-form objects were decoding unicode chars to their wrong format. To fix this,
                    we&#39;ve added two static properties
                    to the <code>MultipartObject</code> (&quot;DefaultContentEncoding&quot; and
                    &quot;DefaultHeadersEncoding&quot;), which you can set the default encoding for header-parsing and
                    content parsing.</li>
                <li>Rewrited: the request id generator function to another one a bit faster than
                    <code>Guid.NewGuid()</code>.
                </li>
                <li>Experimental: you can send custom HTTP status codes and reason phrases using the
                    <code>HttpResponse.CustomStatus</code> property.
                </li>
                <li>Code cleanup.</li>
            </ul>
        </div>
    </section>
</div>