<div class="doc-navigator">
<div class="namespace-sep">
    Sisk.Core.Entity
</div>
<a href="/spec/Sisk.Core.Entity.CrossOriginResourceSharingHeaders">
    <img src="/img/icons/class.svg"> CrossOriginResourceSharingHeaders
</a>
<a href="/spec/Sisk.Core.Entity.MultipartObject">
    <img src="/img/icons/class.svg"> MultipartObject
</a>
<a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat">
    <img src="/img/icons/enum.svg"> MultipartObjectCommonFormat
</a>
<div class="namespace-sep">
    Sisk.Core.Http
</div>
<a href="/spec/Sisk.Core.Http.CookieHelper">
    <img src="/img/icons/class.svg"> CookieHelper
</a>
<a href="/spec/Sisk.Core.Http.HtmlContent">
    <img src="/img/icons/class.svg"> HtmlContent
</a>
<a href="/spec/Sisk.Core.Http.HttpContext">
    <img src="/img/icons/class.svg"> HttpContext
</a>
<a href="/spec/Sisk.Core.Http.HttpRequest">
    <img src="/img/icons/class.svg"> HttpRequest
</a>
<a href="/spec/Sisk.Core.Http.HttpRequestException">
    <img src="/img/icons/class.svg"> HttpRequestException
</a>
<a href="/spec/Sisk.Core.Http.HttpResponse">
    <img src="/img/icons/class.svg"> HttpResponse
</a>
<a href="/spec/Sisk.Core.Http.HttpServer">
    <img src="/img/icons/class.svg"> HttpServer
</a>
<a href="/spec/Sisk.Core.Http.HttpServerConfiguration">
    <img src="/img/icons/class.svg"> HttpServerConfiguration
</a>
<a href="/spec/Sisk.Core.Http.HttpServerExecutionResult">
    <img src="/img/icons/class.svg"> HttpServerExecutionResult
</a>
<a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus">
    <img src="/img/icons/enum.svg"> HttpServerExecutionStatus
</a>
<a href="/spec/Sisk.Core.Http.HttpServerFlags">
    <img src="/img/icons/class.svg"> HttpServerFlags
</a>
<a href="/spec/Sisk.Core.Http.HttpStatusInformation">
    <img src="/img/icons/struct.svg"> HttpStatusInformation
</a>
<a href="/spec/Sisk.Core.Http.ListeningHost">
    <img src="/img/icons/class.svg"> ListeningHost
</a>
<a href="/spec/Sisk.Core.Http.ListeningHostRepository">
    <img src="/img/icons/class.svg"> ListeningHostRepository
</a>
<a href="/spec/Sisk.Core.Http.ListeningPort">
    <img src="/img/icons/struct.svg"> ListeningPort
</a>
<a href="/spec/Sisk.Core.Http.LogStream">
    <img src="/img/icons/class.svg"> LogStream
</a>
<a href="/spec/Sisk.Core.Http.ReceiveRequestEventHandler">
    <img src="/img/icons/delegate.svg"> ReceiveRequestEventHandler
</a>
<a href="/spec/Sisk.Core.Http.ServerExecutionEventHandler">
    <img src="/img/icons/delegate.svg"> ServerExecutionEventHandler
</a>
<div class="namespace-sep">
    Sisk.Core.Http.Streams
</div>
<a href="/spec/Sisk.Core.Http.Streams.EventSourceRegistrationHandler">
    <img src="/img/icons/delegate.svg"> EventSourceRegistrationHandler
</a>
<a href="/spec/Sisk.Core.Http.Streams.EventSourceUnregistrationHandler">
    <img src="/img/icons/delegate.svg"> EventSourceUnregistrationHandler
</a>
<a href="/spec/Sisk.Core.Http.Streams.HttpEventSourceBouncePolicy">
    <img src="/img/icons/class.svg"> HttpEventSourceBouncePolicy
</a>
<a href="/spec/Sisk.Core.Http.Streams.HttpEventSourceCollection">
    <img src="/img/icons/class.svg"> HttpEventSourceCollection
</a>
<a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource">
    <img src="/img/icons/class.svg"> HttpRequestEventSource
</a>
<a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream">
    <img src="/img/icons/class.svg"> HttpResponseStream
</a>
<a href="/spec/Sisk.Core.Http.Streams.HttpWebSocket">
    <img src="/img/icons/class.svg"> HttpWebSocket
</a>
<a href="/spec/Sisk.Core.Http.Streams.HttpWebSocketConnectionCollection">
    <img src="/img/icons/class.svg"> HttpWebSocketConnectionCollection
</a>
<a href="/spec/Sisk.Core.Http.Streams.WebSocketMessage">
    <img src="/img/icons/class.svg"> WebSocketMessage
</a>
<a href="/spec/Sisk.Core.Http.Streams.WebSocketMessageReceivedEventHandler">
    <img src="/img/icons/delegate.svg"> WebSocketMessageReceivedEventHandler
</a>
<a href="/spec/Sisk.Core.Http.Streams.WebSocketRegistrationHandler">
    <img src="/img/icons/delegate.svg"> WebSocketRegistrationHandler
</a>
<a href="/spec/Sisk.Core.Http.Streams.WebSocketUnregistrationHandler">
    <img src="/img/icons/delegate.svg"> WebSocketUnregistrationHandler
</a>
<div class="namespace-sep">
    Sisk.Core.Routing
</div>
<a href="/spec/Sisk.Core.Routing.ExceptionErrorCallback">
    <img src="/img/icons/delegate.svg"> ExceptionErrorCallback
</a>
<a href="/spec/Sisk.Core.Routing.IRequestHandler">
    <img src="/img/icons/interface.svg"> IRequestHandler
</a>
<a href="/spec/Sisk.Core.Routing.LogOutput">
    <img src="/img/icons/enum.svg"> LogOutput
</a>
<a href="/spec/Sisk.Core.Routing.NoMatchedRouteErrorCallback">
    <img src="/img/icons/delegate.svg"> NoMatchedRouteErrorCallback
</a>
<a href="/spec/Sisk.Core.Routing.RequestHandlerAttribute">
    <img src="/img/icons/class.svg"> RequestHandlerAttribute
</a>
<a href="/spec/Sisk.Core.Routing.RequestHandlerExecutionMode">
    <img src="/img/icons/enum.svg"> RequestHandlerExecutionMode
</a>
<a href="/spec/Sisk.Core.Routing.RequestHandlerFactory">
    <img src="/img/icons/class.svg"> RequestHandlerFactory
</a>
<a href="/spec/Sisk.Core.Routing.Route">
    <img src="/img/icons/class.svg"> Route
</a>
<a href="/spec/Sisk.Core.Routing.RouteAttribute">
    <img src="/img/icons/class.svg"> RouteAttribute
</a>
<a href="/spec/Sisk.Core.Routing.RouteDeleteAttribute">
    <img src="/img/icons/class.svg"> RouteDeleteAttribute
</a>
<a href="/spec/Sisk.Core.Routing.RouteGetAttribute">
    <img src="/img/icons/class.svg"> RouteGetAttribute
</a>
<a href="/spec/Sisk.Core.Routing.RouteMethod">
    <img src="/img/icons/enum.svg"> RouteMethod
</a>
<a href="/spec/Sisk.Core.Routing.RoutePatchAttribute">
    <img src="/img/icons/class.svg"> RoutePatchAttribute
</a>
<a href="/spec/Sisk.Core.Routing.RoutePostAttribute">
    <img src="/img/icons/class.svg"> RoutePostAttribute
</a>
<a href="/spec/Sisk.Core.Routing.RoutePrefixAttribute">
    <img src="/img/icons/class.svg"> RoutePrefixAttribute
</a>
<a href="/spec/Sisk.Core.Routing.RoutePutAttribute">
    <img src="/img/icons/class.svg"> RoutePutAttribute
</a>
<a href="/spec/Sisk.Core.Routing.Router">
    <img src="/img/icons/class.svg"> Router
</a>
<a href="/spec/Sisk.Core.Routing.RouterCallback">
    <img src="/img/icons/delegate.svg"> RouterCallback
</a>
<a href="/spec/Sisk.Core.Routing.RouterFactory">
    <img src="/img/icons/class.svg"> RouterFactory
</a>
<div class="namespace-sep">
    Sisk.Provider
</div>
<a href="/spec/Sisk.Provider.RotatingLogPolicy">
    <img src="/img/icons/class.svg"> RotatingLogPolicy
</a>
<a href="/spec/Sisk.Provider.ServiceProvider">
    <img src="/img/icons/class.svg"> ServiceProvider
</a>
<a href="/spec/Sisk.Provider.ServiceProviderConfigurator">
    <img src="/img/icons/class.svg"> ServiceProviderConfigurator
</a>
<a href="/spec/Sisk.Provider.ServiceProviderConfiguratorHandler">
    <img src="/img/icons/delegate.svg"> ServiceProviderConfiguratorHandler
</a>
<a href="/spec/Sisk.Provider.ServiceReloadManager">
    <img src="/img/icons/class.svg"> ServiceReloadManager
</a>
</div>
