<script>
    setPageTitle("CrossOriginResourceSharingHeaders class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                MaxAge property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Entity.CrossOriginResourceSharingHeaders">
                Sisk.Core.Entity.CrossOriginResourceSharingHeaders
            </a>
<p>
    Definition:
</p>
<pre>
public TimeSpan MaxAge { get; set; }
</pre>
<p>
    From MDN: The Access-Control-Max-Age header indicates how long the results of a preflight request can be cached.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
