<script>
    setPageTitle("Router class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                GetRouteFromName(string) method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Router">
                Sisk.Core.Routing.Router
            </a>
<p>
    Definition:
</p>
<pre>
public Route? GetRouteFromName(string name)
</pre>
<p>
    Gets an route object by their name that is defined in this Router.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>name</td>
    <td>The route name.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
