<script>
    setPageTitle("Route class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Method property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Route">
                Sisk.Core.Routing.Route
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public RouteMethod Method { get; set; }
</code>
</pre>
<p>
    Gets or sets the matching HTTP method. If it is "Any", the route will just use the path expression to be matched, not the HTTP method.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
