<script>
    setPageTitle("Route class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Route(RouteMethod, string, string, RouterCallback, IRequestHandler[]) constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Routing.Route">
                    Sisk.Core.Routing.Route
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public Route(RouteMethod method, string path, string? name, RouterCallback callback, IRequestHandler[]? beforeCallback)</code></pre>
<p>
    Creates an new <a href="/spec/Sisk.Core.Routing.Route">Route</a> instance with given parameters.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">method</td>
    <td>The matching HTTP method. If it is "Any", the route will just use the path expression to be matched, not the HTTP method.</td>
</tr>
<tr>
    <td width="33%">path</td>
    <td>The path expression that will be interpreted by the router and validated by the requests.</td>
</tr>
<tr>
    <td width="33%">name</td>
    <td>The route name. It allows it to be found by other routes and makes it easier to create links.</td>
</tr>
<tr>
    <td width="33%">callback</td>
    <td>The function that is called after the route is matched with the request.</td>
</tr>
<tr>
    <td width="33%">beforeCallback</td>
    <td>The RequestHandlers to run before the route's Callback.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
