<script>
    setPageTitle("HtmlContent class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HtmlContent class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public class HtmlContent : ByteArrayContent</code></pre>
<p>
    Provides HTTP content based on HTML file.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.HtmlContent.DefaultEncoding">
            DefaultEncoding
        </a>
    </td>
    <td>
        Gets or sets the default encoding which will be used on constructors.
    <td>
</tr>
    </tbody>
</table>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/constructor.svg">
        <a href="/spec/Sisk.Core.Http.HtmlContent.HtmlContent(string-Encoding)">
            HtmlContent(string, Encoding)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.HtmlContent">HtmlContent</a> class with given HTML content and encoding.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/constructor.svg">
        <a href="/spec/Sisk.Core.Http.HtmlContent.HtmlContent(string)">
            HtmlContent(string)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.HtmlContent">HtmlContent</a> class with given HTML content, using the <a href="/spec/Sisk.Core.Http.HtmlContent">DefaultEncoding</a> encoding.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
