<script>
    setPageTitle("RequestHandlerAttribute class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ConstructorArguments property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.RequestHandlerAttribute">
                Sisk.Core.Routing.RequestHandlerAttribute
            </a>
<p>
    Definition:
</p>
<pre>
public object?[] ConstructorArguments { get; set; }
</pre>
<p>
    Specifies parameters for the given type's constructor.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
