<script>
    setPageTitle("HttpServerConfiguration class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                IncludeRequestIdHeader property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpServerConfiguration">
                Sisk.Core.Http.HttpServerConfiguration
            </a>
<p>
    Definition:
</p>
<pre>
public bool IncludeRequestIdHeader { get; set; }
</pre>
<p>
    Gets or sets whether the server should include the "X-Request-Id" header in response headers.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
