<script>
    setPageTitle("RateLimiterPolicy class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RateLimiterPolicy class
            </h1>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public class RateLimiterPolicy
</code>
</pre>
<p>
    Represents the settings of a <see cref="T:Sisk.Core.Routing.Handlers.RateLimiter" /> object.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterPolicy.LimitByCookies">
            LimitByCookies
        </a>
    </td>
    <td>
        Gets or sets if the <see cref="T:Sisk.Core.Routing.Handlers.RateLimiter" /> will limit by the Cookie value.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterPolicy.LimitByOriginIP">
            LimitByOriginIP
        </a>
    </td>
    <td>
        Gets or sets if the <see cref="T:Sisk.Core.Routing.Handlers.RateLimiter" /> will limit by the IP address.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterPolicy.MaximumRequests">
            MaximumRequests
        </a>
    </td>
    <td>
        Gets or sets the maximum number of requests that will be allowed in the time specified in TimeToLive.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterPolicy.TimeToLive">
            TimeToLive
        </a>
    </td>
    <td>
        Gets or sets the maximum time between the maximum requests that it should be executed.
    <td>
</tr>
    </tbody>
</table>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterPolicy.RateLimiterPolicy(TimeSpan-int-bool-bool)">
            RateLimiterPolicy(TimeSpan, int, bool, bool)
        </a>
    </td>
    <td>
        Create a new <see cref="T:Sisk.Core.Routing.Handlers.RateLimiterPolicy" /> instance with given parameters.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
