<script>
    setPageTitle("RoutePrefixAttribute class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RoutePrefixAttribute class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Routing
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">[AttributeUsage(AttributeTargets.Class)]
            public class RoutePrefixAttribute : Attribute</code></pre>
<p>
    Represents an attribute that, when applied to an class containing routes, all child routes will start with the specified prefix.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Routing.RoutePrefixAttribute.Prefix">
            Prefix
        </a>
    </td>
    <td>
        Gets or sets the route prefix.
    <td>
</tr>
    </tbody>
</table>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/constructor.svg">
        <a href="/spec/Sisk.Core.Routing.RoutePrefixAttribute.RoutePrefixAttribute(string)">
            RoutePrefixAttribute(string)
        </a>
    </td>
    <td>
        Initializes an new <a href="/spec/Sisk.Core.Routing.RoutePrefixAttribute">RoutePrefixAttribute</a> with given prefix.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
