<script>
    setPageTitle("ServiceProviderConfiguratorHandler delegate");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ServiceProviderConfiguratorHandler delegate
            </h1>
<p>
    Assembly: Sisk.ServiceProvider
</p>
<p>
    Namespace: Sisk.Provider
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public delegate void ServiceProviderConfiguratorHandler(ServiceProviderConfigurator configurator);</code></pre>
<p>
    Represents the callback that runs after the server interprets the settings file.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
