<script>
    setPageTitle("HttpServerFlags class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                NormalizeHeadersEncodings field
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpServerFlags">
                    Sisk.Core.Http.HttpServerFlags
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public bool NormalizeHeadersEncodings;</code></pre>
<p>
    Determines if the HTTP server should convert request headers encoding to the content encoding.
</p>
<section>
    <p>
                    Default value: <code>true</code></p>
</section>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
