<script>
    setPageTitle("Route class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                UseCors property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Route">
                Sisk.Core.Routing.Route
            </a>
<p>
    Definition:
</p>
<pre>
public bool UseCors { get; set; }
</pre>
<p>
    Gets or sets whether this route should send Cross-Origin Resource Sharing headers in the response.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
