<script>
    setPageTitle("Router class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                SetRoute(Route) method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Router">
                Sisk.Core.Routing.Router
            </a>
<p>
    Definition:
</p>
<pre>
public void SetRoute(Route r)
</pre>
<p>
    Defines an route in this Router instance.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>r</td>
    <td>The route to be defined in the Router.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
