<script>
    setPageTitle("HttpResponseStream class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Write(Byte[]) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream">
                    Sisk.Core.Http.Streams.HttpResponseStream
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void Write(byte[] buffer)</code></pre>
<p>
    Writes an sequence of bytes to the HTTP response stream.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">buffer</td>
    <td>The byte array that includes the buffer which will be written to the HTTP response.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
