<script>
    setPageTitle("ListeningHostRepository class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                GetEnumerator() method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.ListeningHostRepository">
                    Sisk.Core.Http.ListeningHostRepository
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public IEnumerator<ListeningHost> GetEnumerator()</code></pre>
<p>
    Returns an enumerator that iterates through this <a href="/spec/Sisk.Core.Http.ListeningHostRepository">ListeningHostRepository</a>.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
