<script>
    setPageTitle("RotatingLogPolicy class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RotatingLogPolicy(LogStream) constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Provider.RotatingLogPolicy">
                    Sisk.Provider.RotatingLogPolicy
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public RotatingLogPolicy(LogStream? ls)</code></pre>
<p>
    Creates an new <a href="/spec/Sisk.Provider.RotatingLogPolicy">RotatingLogPolicy</a> instance with the given <a href="/spec/Sisk.Core.Http.LogStream">LogStream</a> object to watch.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
