<script>
    setPageTitle("HttpEventSourceBouncePolicy class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                DataMessage property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpEventSourceBouncePolicy">
                    Sisk.Core.Http.Streams.HttpEventSourceBouncePolicy
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public string DataMessage { get; set; }</code></pre>
<p>
    Gets or sets the payload message that is sent to the server as a ping message.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
