<script>
    setPageTitle("ListeningPort struct");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ListeningPort struct
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public struct ListeningPort</code></pre>
<p>
    Provides a structure to contain a listener port for an <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a> instance.
</p>
<section>
    <p>
                    A listener port represents an access point on the HTTP server.
                    It consists of an indicator that it should use a secure connection (HTTPS), its hostname and port.
                </p><p>
                    It must start with https:// or http://, and must terminate with an /.
                </p><p>
                    It is represented by the syntax:
                </p><pre><code class="lang-none">
                    [http|https]://[hostname]:[port]/
                </code></pre><p>
                    Examples:
                </p><pre><code class="lang-none">
                    http://localhost:80/
                    https://subdomain.domain.net:443/
                    http://182.32.112.223:5251/
                </code></pre>
</section>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.Hostname">
            Hostname
        </a>
    </td>
    <td>
        Gets or sets the DNS hostname pattern where this listening port will refer.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.Port">
            Port
        </a>
    </td>
    <td>
        Gets or sets the port where this listening port will refer.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.Secure">
            Secure
        </a>
    </td>
    <td>
        Gets or sets whether the server should listen to this port securely (SSL).
    <td>
</tr>
    </tbody>
</table>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.ListeningPort()">
            ListeningPort()
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.ListeningPort">ListeningPort</a> instance with default parameters.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.ListeningPort(bool-string-int)">
            ListeningPort(bool, string, int)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.ListeningPort">ListeningPort</a> instance with the specified port, secure context and hostname.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.ListeningPort(int-bool)">
            ListeningPort(int, bool)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.ListeningPort">ListeningPort</a> instance with the specified port and secure context at the loopback host.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.ListeningPort(int)">
            ListeningPort(int)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.ListeningPort">ListeningPort</a> instance with the specified port at the loopback host.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.ListeningPort(string)">
            ListeningPort(string)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.ListeningPort">ListeningPort</a> instance with the specified URI.
    <td>
</tr>
    </tbody>
</table>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.Equals(Object)">
            Equals(Object)
        </a>
    </td>
    <td>
        Determines if another object is equals to this class instance.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.GetHashCode()">
            GetHashCode()
        </a>
    </td>
    <td>
        Gets the hash code for this listening port.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.GetRandomPort()">
            GetRandomPort()
        </a>
    </td>
    <td>
        Gets an <a href="/spec/Sisk.Core.Http.ListeningPort">ListeningPort</a> object with an random insecure port.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningPort.ToString()">
            ToString()
        </a>
    </td>
    <td>
        Gets an string representation of this <a href="/spec/Sisk.Core.Http.ListeningPort">ListeningPort</a>.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
