<script>
    setPageTitle("RateLimiterPolicy class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RateLimiterPolicy(TimeSpan, int, bool, bool) constructor
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterPolicy">
                Sisk.Core.Routing.Handlers.RateLimiterPolicy
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public RateLimiterPolicy(TimeSpan timeToLive, int maximumRequests, bool limitByOriginIP, bool limitByCookies)
</code>
</pre>
<p>
    Create a new <see cref="T:Sisk.Core.Routing.Handlers.RateLimiterPolicy" /> instance with given parameters.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
