<script>
    setPageTitle("MultipartObjectCommonFormat enum");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                MultipartObjectCommonFormat enum
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public enum MultipartObjectImageFormat</code></pre>
<p>
    Represents an image format for Multipart objects.
</p>
<h2 id="field">
    Field list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat.BMP">
            BMP
        </a>
    </td>
    <td>
        Represents an bitmap image.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat.GIF">
            GIF
        </a>
    </td>
    <td>
        Represents an GIF image.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat.JPEG">
            JPEG
        </a>
    </td>
    <td>
        Represents an JPEG/JPG image.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat.PDF">
            PDF
        </a>
    </td>
    <td>
        Represents an PDF file.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat.PNG">
            PNG
        </a>
    </td>
    <td>
        Represents an PNG image.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat.TIFF">
            TIFF
        </a>
    </td>
    <td>
        Represents an TIFF image.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat.Unknown">
            Unknown
        </a>
    </td>
    <td>
        Represents that the object is not a recognized image.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat.WEBP">
            WEBP
        </a>
    </td>
    <td>
        Represents an WebP image.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
