<script>
    setPageTitle("Router class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Router() constructor
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Router">
                Sisk.Core.Routing.Router
            </a>
<p>
    Definition:
</p>
<pre>
public Router()
</pre>
<p>
    Creates an new <see cref="T:Sisk.Core.Routing.Router" /> instance with default properties values.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
