<script>
    setPageTitle("HttpResponse class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HttpResponse class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public class HttpResponse</code></pre>
<p>
    Represents an HTTP Response.
</p>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.CreateEmptyResponse()">
            CreateEmptyResponse()
        </a>
    </td>
    <td>
        Creates an new empty <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> with no status code or contents. This will cause to the HTTP server to close the connection between the server and the client and don't deliver any response.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.CreateRedirectResponse(string)">
            CreateRedirectResponse(string)
        </a>
    </td>
    <td>
        Creates an new redirect <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> with given location header.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.GetRawHttpResponse(bool)">
            GetRawHttpResponse(bool)
        </a>
    </td>
    <td>
        Gets the raw HTTP response message.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.SetCookie(string-string-DateTime-TimeSpan-string-string-bool-bool-string)">
            SetCookie(string, string, DateTime?, TimeSpan?, string, string, bool?, bool?, string)
        </a>
    </td>
    <td>
        Sets a cookie and sends it in the response to be set by the client.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.SetCookie(string-string)">
            SetCookie(string, string)
        </a>
    </td>
    <td>
        Sets a cookie and sends it in the response to be set by the client.
    <td>
</tr>
    </tbody>
</table>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.Content">
            Content
        </a>
    </td>
    <td>
        Gets or sets the HTTP response body contents.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.CustomStatus">
            CustomStatus
        </a>
    </td>
    <td>
        Gets or sets an custom HTTP status code and description for this HTTP response. If this property ins't null, it will overwrite the <a href="/spec/Sisk.Core.Http.HttpResponse">Status</a> property in this class.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.DefaultEncoding">
            DefaultEncoding
        </a>
    </td>
    <td>
        Gets or sets the default encoding when creating new HttpResponse instances.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.Headers">
            Headers
        </a>
    </td>
    <td>
        Gets a <a href="https://learn.microsoft.com/en-us/dotnet/api/System.Collections.Specialized.NameValueCollection">NameValueCollection</a> instance of the HTTP response headers.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.SendChunked">
            SendChunked
        </a>
    </td>
    <td>
        Gets or sets whether the HTTP response can be sent chunked.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.Status">
            Status
        </a>
    </td>
    <td>
        Gets or sets the HTTP response status code.
    <td>
</tr>
    </tbody>
</table>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.HttpResponse()">
            HttpResponse()
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> instance with HTTP OK status code and no content.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.HttpResponse(int-HttpContent)">
            HttpResponse(int, HttpContent)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> instance with given status code and HTTP content.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.HttpResponse(int)">
            HttpResponse(int)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> instance with given status code.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.HttpResponse(HttpContent)">
            HttpResponse(HttpContent)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> instance with given HTTP content, with default status code as 200 OK.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.HttpResponse(HttpStatusCode-HttpContent)">
            HttpResponse(HttpStatusCode, HttpContent)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> instance with given status code and HTTP contents.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpResponse.HttpResponse(HttpStatusCode)">
            HttpResponse(HttpStatusCode)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> instance with given status code.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
