<script>
    setPageTitle("RouterCallback delegate");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RouterCallback delegate
            </h1>
<p>
    Definition:
</p>
<pre>
public delegate HttpResponse RouterCallback(HttpRequest request);
</pre>
<p>
    Represents the function that is called after the route is matched with the request.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
