<script>
    setPageTitle("RouterFactory class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RouterFactory class
            </h1>
<p>
    Assembly: Sisk.ServiceProvider
</p>
<p>
    Namespace: Sisk.Core.Routing
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public abstract class RouterFactory</code></pre>
<p>
    Provides a class that instantiates a router, capable of porting applications for use with Agirax.
</p>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Routing.RouterFactory.Bootstrap()">
            Bootstrap()
        </a>
    </td>
    <td>
        Method that is called immediately before initializing the service, after all configurations was parsed and set up.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Routing.RouterFactory.BuildRouter()">
            BuildRouter()
        </a>
    </td>
    <td>
        Build and gets a router that will be used later by an <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a>.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Routing.RouterFactory.Setup(NameValueCollection)">
            Setup(NameValueCollection)
        </a>
    </td>
    <td>
        Method that is called by the service instantiator with the parameters defined in configuration before calling <a href="/spec/Sisk.Core.Routing.RouterFactory">BuildRouter</a>.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
