<script>
    setPageTitle("ListeningHostRepository class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Contains(ListeningHost) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.ListeningHostRepository">
                    Sisk.Core.Http.ListeningHostRepository
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public bool Contains(ListeningHost item)</code></pre>
<p>
    Determines if an <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a> is present in this repository.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>item</td>
    <td>The  to check if is present in this repository.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
