<script>
    setPageTitle("RequestHandlerFactory class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                BuildRequestHandlers() method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Handlers.RequestHandlerFactory">
                Sisk.Core.Routing.Handlers.RequestHandlerFactory
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public abstract IRequestHandler[] BuildRequestHandlers();
</code>
</pre>
<p>
    Builds and gets the <see cref="T:Sisk.Core.Routing.Handlers.IRequestHandler" /> instance objects used later by an <see cref="T:Sisk.Core.Routing.Route" />.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
