<script>
    setPageTitle("LogStream class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ConsoleOutput field
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.LogStream">
                    Sisk.Core.Http.LogStream
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public static LogStream ConsoleOutput;</code></pre>
<p>
    Represents a LogStream that writes its output to the <a href="https://learn.microsoft.com/en-us/dotnet/api/System.Console.Out">Out</a> stream.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
