<script>
    setPageTitle("Router class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                SetRoute(RouteMethod, string, RouterCallback, string) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Routing.Router">
                    Sisk.Core.Routing.Router
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void SetRoute(RouteMethod method, string path, RouterCallback callback, string? name)</code></pre>
<p>
    Defines an route with their method, path, callback function and name.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>method</td>
    <td>The route method to be matched. "Any" means any method that matches their path.</td>
</tr>
<tr>
    <td>path</td>
    <td>The route path.</td>
</tr>
<tr>
    <td>callback</td>
    <td>The route function to be called after matched.</td>
</tr>
<tr>
    <td>name</td>
    <td>The route name.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
