<script>
    setPageTitle("HttpServerExecutionStatus enum");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HttpServerExecutionStatus enum
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public enum HttpServerExecutionStatus</code></pre>
<p>
    Represents the status of an execution of a request on an <a href="/spec/Sisk.Core.Http.HttpServer">HttpServer</a>.
</p>
<h2 id="field">
    Field list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.ClosedStream">
            ClosedStream
        </a>
    </td>
    <td>
        Indicates that the server closed the connection with the client.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.ContentServedOnIllegalMethod">
            ContentServedOnIllegalMethod
        </a>
    </td>
    <td>
        Represents that the request has sent an request body with an with a HTTP method that is not indicated for receiving request contents.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.ContentServedOnNotSupportedMethod">
            ContentServedOnNotSupportedMethod
        </a>
    </td>
    <td>
        This enum is deprecated. Use <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus">ContentServedOnIllegalMethod</a> instead.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.ContentTooLarge">
            ContentTooLarge
        </a>
    </td>
    <td>
        Represents that the content of the request is too large than what was configured on the server.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.DnsFailed">
            DnsFailed
        </a>
    </td>
    <td>
        Represents that the client did not correctly specify a host in the request.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.DnsUnknownHost">
            DnsUnknownHost
        </a>
    </td>
    <td>
        Represents that the client requested an host that's not been set up on this server.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.EventSourceClosed">
            EventSourceClosed
        </a>
    </td>
    <td>
        Represents that an Event Source Events connection has been closed on the HTTP server.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.ExceptionThrown">
            ExceptionThrown
        </a>
    </td>
    <td>
        Indicates that the server encountered an exception while processing the request.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.Executed">
            Executed
        </a>
    </td>
    <td>
        Represents that the request was executed by a router and its response was delivered.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.ListeningHostNotReady">
            ListeningHostNotReady
        </a>
    </td>
    <td>
        Indicates that the DNS was successful, however the matched <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a> does not have an valid initialized router .
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.MalformedRequest">
            MalformedRequest
        </a>
    </td>
    <td>
        Indicates that the server cannot or will not process the request due to something that is perceived to be a client error.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.NoResponse">
            NoResponse
        </a>
    </td>
    <td>
        Represents that the router did not deliver a response to the received request.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus.UncaughtExceptionThrown">
            UncaughtExceptionThrown
        </a>
    </td>
    <td>
        Indicates that the router encontered an uncaught exception while calling it's callback function.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
