<script>
    setPageTitle("CookieHelper class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                CookieHelper class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public abstract class CookieHelper</code></pre>
<p>
    Provides a class that contains useful methods for working with cookies in HTTP responses.
</p>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.CookieHelper.SetCookie(string-string-DateTime-TimeSpan-string-string-bool-bool-string)">
            SetCookie(string, string, DateTime?, TimeSpan?, string, string, bool?, bool?, string)
        </a>
    </td>
    <td>
        Sets a cookie and sends it in the response to be set by the client.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.CookieHelper.SetCookie(string-string)">
            SetCookie(string, string)
        </a>
    </td>
    <td>
        Sets a cookie and sends it in the response to be set by the client.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
