<script>
    setPageTitle("RouteAttribute class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RouteAttribute class
            </h1>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
[AttributeUsage(AttributeTargets.Method, AllowMultiple = false)]
            public class RouteAttribute : Attribute
</code>
</pre>
<p>
    Represents an class that, when applied to a method, will be recognized by a router as a route.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteAttribute.LogMode">
            LogMode
        </a>
    </td>
    <td>
        Gets or sets how this route can write messages to log files on the server.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteAttribute.Method">
            Method
        </a>
    </td>
    <td>
        Gets or sets the matching HTTP method. If it is "Any", the route will just use the path expression to be matched, not the HTTP method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteAttribute.Name">
            Name
        </a>
    </td>
    <td>
        Gets or sets the route name. It allows it to be found by other routes and makes it easier to create links.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteAttribute.Path">
            Path
        </a>
    </td>
    <td>
        Gets or sets the path expression that will be interpreted by the router and validated by the requests.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteAttribute.UseCors">
            UseCors
        </a>
    </td>
    <td>
        Gets or sets whether this route should send Cross-Origin Resource Sharing headers in the response.
    <td>
</tr>
    </tbody>
</table>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteAttribute.RouteAttribute(RouteMethod-string)">
            RouteAttribute(RouteMethod, string)
        </a>
    </td>
    <td>
        Creates an new <see cref="T:Sisk.Core.Routing.RouteAttribute" /> instance with given route method and path pattern.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
