<script>
    setPageTitle("HttpRequest class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                CreateHeadResponse() method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpRequest">
                Sisk.Core.Http.HttpRequest
            </a>
<p>
    Definition:
</p>
<pre>
public HttpResponse CreateHeadResponse()
</pre>
<p>
    Create an HTTP response with code 200 OK without any body.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
