<script>
    setPageTitle("ListeningHostRepository class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                CopyTo(ListeningHost[], int) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.ListeningHostRepository">
                    Sisk.Core.Http.ListeningHostRepository
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void CopyTo(ListeningHost[] array, int arrayIndex)</code></pre>
<p>
    Copies all elements from this repository to another compatible repository.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>array</td>
    <td>The one-dimensional System.Array that is the destination of the elements copied.</td>
</tr>
<tr>
    <td>arrayIndex</td>
    <td>The zero-based index in array at which copying begins.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
