<script>
    setPageTitle("ListeningHostRepository class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ListeningHostRepository class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public class ListeningHostRepository : ICollection<ListeningHost>, IEnumerable<ListeningHost></code></pre>
<p>
    Represents an fluent repository of <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a> that can add, modify, or remove listening hosts while an <a href="/spec/Sisk.Core.Http.HttpServer">HttpServer</a> is running.
</p>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.ListeningHostRepository()">
            ListeningHostRepository()
        </a>
    </td>
    <td>
        Creates a new instance of an empty <a href="/spec/Sisk.Core.Http.ListeningHostRepository">ListeningHostRepository</a>.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.ListeningHostRepository(ListeningHost)">
            ListeningHostRepository(ListeningHost)
        </a>
    </td>
    <td>
        Creates a new instance of an <a href="/spec/Sisk.Core.Http.ListeningHostRepository">ListeningHostRepository</a> copying the items from another collection of <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a>.
    <td>
</tr>
    </tbody>
</table>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.Count">
            Count
        </a>
    </td>
    <td>
        Gets the number of elements contained in this <a href="/spec/Sisk.Core.Http.ListeningHostRepository">ListeningHostRepository</a>.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.IsReadOnly">
            IsReadOnly
        </a>
    </td>
    <td>
        Gets an boolean indicating if this <a href="/spec/Sisk.Core.Http.ListeningHostRepository">ListeningHostRepository</a> is read only. This property always returns <c>true</c>.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.Item">
            Item
        </a>
    </td>
    <td>
        Gets a listening host through its index.
    <td>
</tr>
    </tbody>
</table>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.Add(ListeningHost)">
            Add(ListeningHost)
        </a>
    </td>
    <td>
        Adds a listeninghost to this repository. If this listeninghost already exists in this class, an exception will be thrown.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.Clear()">
            Clear()
        </a>
    </td>
    <td>
        Removes all listeninghosts from this repository.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.Contains(ListeningHost)">
            Contains(ListeningHost)
        </a>
    </td>
    <td>
        Determines if an <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a> is present in this repository.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.CopyTo(ListeningHost-int)">
            CopyTo(ListeningHost[], int)
        </a>
    </td>
    <td>
        Copies all elements from this repository to another compatible repository.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.GetEnumerator()">
            GetEnumerator()
        </a>
    </td>
    <td>
        Returns an enumerator that iterates through this <a href="/spec/Sisk.Core.Http.ListeningHostRepository">ListeningHostRepository</a>.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.Remove(ListeningHost)">
            Remove(ListeningHost)
        </a>
    </td>
    <td>
        Try to remove a <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a> from this repository. If the item is removed, this methods returns <c>true</c>.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.ListeningHostRepository.System#Collections#IEnumerable#GetEnumerator()">
            System#Collections#IEnumerable#GetEnumerator()
        </a>
    </td>
    <td>
        Returns an enumerator that iterates through this <a href="/spec/Sisk.Core.Http.ListeningHostRepository">ListeningHostRepository</a>.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
