<script>
    setPageTitle("HttpRequest class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                IsContentAvailable property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpRequest">
                    Sisk.Core.Http.HttpRequest
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public bool IsContentAvailable { get; }</code></pre>
<p>
    Gets a boolean indicating whether the content of this request has been processed by the server.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
