<script>
    setPageTitle("HttpRequestEventSource class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                WithBounce(HttpEventSourceBouncePolicy) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource">
                    Sisk.Core.Http.Streams.HttpRequestEventSource
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void WithBounce(Action'HttpEventSourceBouncePolicy act)</code></pre>
<p>
    Configures the bouce policy for this instance of HTTP Event Source.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">act</td>
    <td>The method that runs on the bounce policy for this HTTP Event Source.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
