<script>
    setPageTitle("HttpWebSocketConnectionCollection class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                OnWebSocketUnregister event
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpWebSocketConnectionCollection">
                    Sisk.Core.Http.Streams.HttpWebSocketConnectionCollection
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public event EventSourceUnregistrationHandler? OnEventSourceUnregistration;</code></pre>
<p>
    Represents an event that is fired when an <a href="/spec/Sisk.Core.Http.Streams.HttpWebSocket">HttpWebSocket</a> is closed and removed from this collection.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
