<script>
    setPageTitle("HttpResponseStream class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ResponseStream property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream">
                    Sisk.Core.Http.Streams.HttpResponseStream
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public Stream ResponseStream { get; }</code></pre>
<p>
    Gets the <a href="https://learn.microsoft.com/en-us/dotnet/api/System.IO.Stream">Stream</a> that represents the HTTP response output stream.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
