<script>
    setPageTitle("ServiceProvider class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ErrorLogs property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Provider.ServiceProvider">
                Sisk.Provider.ServiceProvider
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public TextWriter? ErrorLogs { get; }
</code>
</pre>
<p>
    Gets the configured error log stream. This property is inherited from <see cref="P:Sisk.Provider.ServiceProvider.ServerConfiguration" />.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
