<script>
    setPageTitle("ServiceProvider class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ServiceProvider(RouterFactory, string) constructor
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Provider.ServiceProvider">
                Sisk.Provider.ServiceProvider
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public ServiceProvider(RouterFactory instance, string configurationFile)
</code>
</pre>
<p>
    Creates an new <see cref="T:Sisk.Provider.ServiceProvider" /> instance with given router factory and custom settings file name.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>instance</td>
    <td>Specifies the  object instance which will provide an entry point for this service.</td>
</tr>
<tr>
    <td>configurationFile</td>
    <td>Specifies the Sisk server portable configuration file.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
