<script>
    setPageTitle("HttpServer class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                EventSources property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpServer">
                    Sisk.Core.Http.HttpServer
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public HttpEventSourceCollection EventSources { get; }</code></pre>
<p>
    Gets an <a href="/spec/Sisk.Core.Http.HttpEventSourceCollection">HttpEventSourceCollection</a> with active event source connections in this HTTP server.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
