<script>
    setPageTitle("HttpRequestEventSource class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Equals(Object) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource">
                    Sisk.Core.Http.Streams.HttpRequestEventSource
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public override bool Equals(object? obj)</code></pre>
<p>
    Determines if another object is equals to this class instance.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>obj</td>
    <td>The another object which will be used to compare.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
