<script>
    setPageTitle("ServerExecutionEventHandler delegate");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ServerExecutionEventHandler delegate
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public delegate void ServerExecutionEventHandler(object sender, HttpServerExecutionResult e);</code></pre>
<p>
    Represents the function that is called when a server receives and computes a request.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
