<script>
    setPageTitle("CrossOriginResourceSharingHeaders class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                AllowHeaders property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Entity.CrossOriginResourceSharingHeaders">
                    Sisk.Core.Entity.CrossOriginResourceSharingHeaders
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public string[] AllowHeaders { get; set; }</code></pre>
<p>
    From MDN: The Access-Control-Allow-Headers header is used in response to a preflight request to indicate which HTTP headers can be used when making the actual request.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
