<script>
    setPageTitle("WebSocketMessage class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Sender property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.WebSocketMessage">
                    Sisk.Core.Http.WebSocketMessage
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public HttpWebSocket Sender { get; }</code></pre>
<p>
    Gets the sender <a href="/spec/Sisk.Core.Http.HttpWebSocket">HttpWebSocket</a> object instance which received this message.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
