<script>
    setPageTitle("HttpRequestEventSource class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                AppendHeader(string, string) method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpRequestEventSource">
                Sisk.Core.Http.HttpRequestEventSource
            </a>
<p>
    Definition:
</p>
<pre>
public void AppendHeader(string name, string value)
</pre>
<p>
    Sends an header to the streaming context.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>name</td>
    <td>The header name.</td>
</tr>
<tr>
    <td>value</td>
    <td>The header value.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
