<script>
    setPageTitle("HttpResponseStream class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                SetHeader(string, string) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream">
                    Sisk.Core.Http.Streams.HttpResponseStream
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void SetHeader(string headerName, string value)</code></pre>
<p>
    Sets the specific HTTP header into this response stream.
</p>
<blockquote>
    <p><b>Remarks:</b></p>
    <p>Headers are sent immediately, along with the HTTP response code, after starting to send content or closing this stream.</p>
</blockquote>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">headerName</td>
    <td>The HTTP header name.</td>
</tr>
<tr>
    <td width="33%">value</td>
    <td>The HTTP header value.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
