<script>
    setPageTitle("RateLimiter class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RateLimiter(RateLimiterRepository, RateLimiterPolicy) constructor
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiter">
                Sisk.Core.Routing.Handlers.RateLimiter
            </a>
<p>
    Definition:
</p>
<pre>
public RateLimiter(RateLimiterRepository repository, RateLimiterPolicy limitingPolicy)
</pre>
<p>
    Creates a new <see cref="T:Sisk.Core.Routing.Handlers.RateLimiter" /> instance with given parameters.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>repository</td>
    <td>Gets or sets the cache of requests that this Rate Limiter stores.</td>
</tr>
<tr>
    <td>limitingPolicy</td>
    <td>Gets or sets the routing limitation policy settings for this RateLimiter.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
