<script>
    setPageTitle("ListeningHostRepository class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ListeningHostRepository(ListeningHost) constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.ListeningHostRepository">
                    Sisk.Core.Http.ListeningHostRepository
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public ListeningHostRepository(IEnumerable<ListeningHost> hosts)</code></pre>
<p>
    Creates a new instance of an <a href="/spec/Sisk.Core.Http.ListeningHostRepository">ListeningHostRepository</a> copying the items from another collection of <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a>.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>hosts</td>
    <td>The collection which stores the  which will be copied to this repository.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
