<script>
    setPageTitle("HttpEventSourceBouncePolicy class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HttpEventSourceBouncePolicy class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http.Streams
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public class HttpEventSourceBouncePolicy</code></pre>
<p>
    Provides an automatic ping sender for HTTP Event Source connections.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpEventSourceBouncePolicy.DataMessage">
            DataMessage
        </a>
    </td>
    <td>
        Gets or sets the payload message that is sent to the server as a ping message.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpEventSourceBouncePolicy.Interval">
            Interval
        </a>
    </td>
    <td>
        Gets or sets the sending interval for each ping message.
    <td>
</tr>
    </tbody>
</table>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpEventSourceBouncePolicy.Start()">
            Start()
        </a>
    </td>
    <td>
        Starts sending periodic pings to the client.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
