<script>
    setPageTitle("HttpResponse class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                GetRawHttpResponse(bool) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpResponse">
                    Sisk.Core.Http.HttpResponse
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public string GetRawHttpResponse(bool includeBody = true)</code></pre>
<p>
    Gets the raw HTTP response message.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>includeBody</td>
    <td>Determines whether the message content will also be included in the return from this function.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
