<script>
    setPageTitle("ServiceProvider class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Wait() method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Provider.ServiceProvider">
                Sisk.Provider.ServiceProvider
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public void Wait()
</code>
</pre>
<p>
    Prevents the executable from closing automatically after starting the executable.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
