<script>
    setPageTitle("HttpContext class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HttpContext class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public class HttpContext</code></pre>
<p>
    Represents an context for Http requests.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpContext.HttpServer">
            HttpServer
        </a>
    </td>
    <td>
        Gets the context Http Server instance.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpContext.MatchedRoute">
            MatchedRoute
        </a>
    </td>
    <td>
        Gets the matched Http Route object from the Router.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpContext.RequestBag">
            RequestBag
        </a>
    </td>
    <td>
        Gets or sets a managed object that is accessed and modified by request handlers.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.HttpContext.RouterResponse">
            RouterResponse
        </a>
    </td>
    <td>
        Gets or sets the HTTP response for this context. This property is only not null when a post-executing <a href="/spec/Sisk.Core.Routing.IRequestHandler">IRequestHandler</a> was executed for this router context.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
