<script>
    setPageTitle("WebSocketMessage class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                WebSocketMessage class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http.Streams
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public sealed class WebSocketMessage</code></pre>
<p>
    Represents an websocket request message received by an websocket server.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.Streams.WebSocketMessage.IsClose">
            IsClose
        </a>
    </td>
    <td>
        Gets an boolean indicating that this message is an remote closing message.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.Streams.WebSocketMessage.IsEnd">
            IsEnd
        </a>
    </td>
    <td>
        Gets an boolean indicating that this message is the last chunk of the message.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.Streams.WebSocketMessage.Length">
            Length
        </a>
    </td>
    <td>
        Gets the message length in byte count.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.Streams.WebSocketMessage.MessageBytes">
            MessageBytes
        </a>
    </td>
    <td>
        Gets an byte array with the message contents.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.Streams.WebSocketMessage.Sender">
            Sender
        </a>
    </td>
    <td>
        Gets the sender <a href="/spec/Sisk.Core.Http.Streams.HttpWebSocket">HttpWebSocket</a> object instance which received this message.
    <td>
</tr>
    </tbody>
</table>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.Streams.WebSocketMessage.GetString()">
            GetString()
        </a>
    </td>
    <td>
        Reads the message bytes as string using the UTF-8 text encoding.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.Streams.WebSocketMessage.GetString(Encoding)">
            GetString(Encoding)
        </a>
    </td>
    <td>
        Reads the message bytes as string using the specified encoding.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
