<script>
    setPageTitle("ReceiveRequestEventHandler delegate");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ReceiveRequestEventHandler delegate
            </h1>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public delegate void ReceiveRequestEventHandler(object sender, HttpRequest request);
</code>
</pre>
<p>
    Represents a function that is called when the server receives an HTTP request.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
