<script>
    setPageTitle("ListeningHostRepository class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ListeningHostRepository() constructor
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.ListeningHostRepository">
                Sisk.Core.Http.ListeningHostRepository
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public ListeningHostRepository()
</code>
</pre>
<p>
    Creates a new instance of an empty <see cref="T:Sisk.Core.Http.ListeningHostRepository" />.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
