<script>
    setPageTitle("HttpEventSourceCollection class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                DropAll() method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpEventSourceCollection">
                    Sisk.Core.Http.Streams.HttpEventSourceCollection
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void DropAll()</code></pre>
<p>
    Closes and disposes all registered and active <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource">HttpRequestEventSource</a> in this collections.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
