<script>
    setPageTitle("CrossOriginResourceSharingHeaders class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                AllowOrigins property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Entity.CrossOriginResourceSharingHeaders">
                    Sisk.Core.Entity.CrossOriginResourceSharingHeaders
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public string[] AllowOrigins { get; set; }</code></pre>
<p>
    Gets or sets domains which will define the source header according to one of the domains present below.
</p>
<blockquote>
    <p><b>Remarks:</b></p>
    <p>This property makes the server compare the origin of the request and associate the domain that corresponds to it.</p>
</blockquote>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
