<script>
    setPageTitle("RequestHandlerFactory class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RequestHandlerFactory class
            </h1>
<p>
    Assembly: Sisk.ServiceProvider
</p>
<p>
    Namespace: Sisk.Core.Routing
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public abstract class RequestHandlerFactory</code></pre>
<p>
    Provides a class that instantiates request handlers.
</p>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Routing.RequestHandlerFactory.BuildRequestHandlers()">
            BuildRequestHandlers()
        </a>
    </td>
    <td>
        Builds and gets the <a href="/spec/Sisk.Core.Routing.IRequestHandler">IRequestHandler</a> instance objects used later by an <a href="/spec/Sisk.Core.Routing.Route">Route</a>.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Routing.RequestHandlerFactory.Setup(NameValueCollection)">
            Setup(NameValueCollection)
        </a>
    </td>
    <td>
        Method that is called by the Agirax instantiator with the parameters defined in configuration before calling <a href="/spec/Sisk.Core.Routing.RequestHandlerFactory">BuildRequestHandlers</a>.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
