<script>
    setPageTitle("RouteGetAttribute class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RouteGetAttribute class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Routing
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">[AttributeUsage(AttributeTargets.Method, AllowMultiple = true, Inherited = true)]
            public class RouteGetAttribute : RouteAttribute</code></pre>
<p>
    Represents a mapping to an HTTP GET route. This attribute is an shorthand from <a href="/spec/Sisk.Core.Routing.RouteAttribute">RouteAttribute</a>.
</p>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/constructor.svg">
        <a href="/spec/Sisk.Core.Routing.RouteGetAttribute.RouteGetAttribute(string)">
            RouteGetAttribute(string)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Routing.RouteGetAttribute">RouteGetAttribute</a> attribute instance with given path.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
