<script>
    setPageTitle("HttpResponse class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                CustomStatus property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpResponse">
                Sisk.Core.Http.HttpResponse
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public HttpStatusInformation? CustomStatus { get; set; }
</code>
</pre>
<p>
    Gets or sets an custom HTTP status code and description for this HTTP response. If this property ins't null, it will overwrite the <see cref="P:Sisk.Core.Http.HttpResponse.Status" /> property in this class.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
