<script>
    setPageTitle("ServiceProvider class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ServiceProvider(RouterFactory) constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Provider.ServiceProvider">
                    Sisk.Provider.ServiceProvider
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public ServiceProvider(RouterFactory instance)</code></pre>
<p>
    Creates an new <a href="/spec/Sisk.Provider.ServiceProvider">ServiceProvider</a> instance with given router factory.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">instance</td>
    <td>Specifies the  object instance which will provide an entry point for this service.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
