<script>
    setPageTitle("HttpStatusInformation structure");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HttpStatusInformation(int, string) constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpStatusInformation">
                    Sisk.Core.Http.HttpStatusInformation
                </a>
                (from Sisk.Core)
            </p>
<p>
    Creates an new <a href="/spec/Sisk.Core.Http.HttpStatusInformation">HttpStatusInformation</a> instance with given parameters.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>description</td>
    <td>Sets the short description of the HTTP message.</td>
</tr>
<tr>
    <td>statusCode</td>
    <td>Sets the numeric HTTP status code of the HTTP message.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
