<script>
    setPageTitle("ServiceReloadManager class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Clear() method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Provider.ServiceReloadManager">
                    Sisk.Provider.ServiceReloadManager
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public static void Clear()</code></pre>
<p>
    Clears all registrations from the assembly.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
