<script>
    setPageTitle("HttpResponseStream class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HttpResponseStream class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http.Streams
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public class HttpResponseStream</code></pre>
<p>
    Represents a way to manage HTTP requests with their output streams, without relying on synchronous content.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.ResponseStream">
            ResponseStream
        </a>
    </td>
    <td>
        Gets the <a href="https://learn.microsoft.com/en-us/dotnet/api/System.IO.Stream">Stream</a> that represents the HTTP response output stream.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.SendChunked">
            SendChunked
        </a>
    </td>
    <td>
        Gets or sets whether this HTTP response stream should use chunked transfer encoding.
    <td>
</tr>
    </tbody>
</table>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.AppendHeader(string-string)">
            AppendHeader(string, string)
        </a>
    </td>
    <td>
        Adds the specific HTTP header into this response stream.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.Close()">
            Close()
        </a>
    </td>
    <td>
        Closes this HTTP response stream connection between the server and the client and returns an empty <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> to finish the HTTP server context.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.SetStatus(HttpStatusInformation)">
            SetStatus(HttpStatusInformation)
        </a>
    </td>
    <td>
        Sets the HTTP status code and description for this response stream.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.SetStatus(int)">
            SetStatus(int)
        </a>
    </td>
    <td>
        Sets the HTTP status code for this response stream.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.SetStatus(HttpStatusCode)">
            SetStatus(HttpStatusCode)
        </a>
    </td>
    <td>
        Sets the HTTP status code for this response stream.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.Write(Byte)">
            Write(Byte[])
        </a>
    </td>
    <td>
        Writes an sequence of bytes to the HTTP response stream.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream.Write(Byte)">
            Write(Byte)
        </a>
    </td>
    <td>
        Writes an sequence of bytes to the HTTP response stream.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
