<script>
    setPageTitle("IRequestHandler interface");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Execute(HttpRequest, HttpContext) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Routing.IRequestHandler">
                    Sisk.Core.Routing.IRequestHandler
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">HttpResponse? Execute(HttpRequest request, HttpContext context);</code></pre>
<p>
    This method is called by the <a href="/spec/Sisk.Core.Routing.Router">Router</a> before executing a request when the <a href="/spec/Sisk.Core.Routing.Route">Route</a> instantiates an object that implements this interface. If it returns a <a href="/spec/Sisk.Core.Http.HttpResponse">HttpResponse</a> object, the route callback is not called and all execution of the route is stopped. If it returns "null", the execution is continued.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">request</td>
    <td>The entry HTTP request.</td>
</tr>
<tr>
    <td width="33%">context</td>
    <td>The HTTP request context. It may contain information from other .</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
