<script>
    setPageTitle("HttpServerConfiguration class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ThrowExceptions property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpServerConfiguration">
                Sisk.Core.Http.HttpServerConfiguration
            </a>
<p>
    Definition:
</p>
<pre>
public bool ThrowExceptions { get; set; } = false;
</pre>
<p>
    Gets or sets whether the server should throw exceptions instead of reporting it on <see cref="T:Sisk.Core.Http.HttpServerExecutionStatus" /> if any is thrown while processing requests.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
