<script>
    setPageTitle("Router class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                op_Addition(Router, Route) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Routing.Router">
                    Sisk.Core.Routing.Router
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public static Router operator +(Router r, Route route)</code></pre>
<p>
    Defines an route to an router.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>r</td>
    <td>The router instance which the route is being set.</td>
</tr>
<tr>
    <td>route</td>
    <td>The route to be defined in the router.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
