<script>
    setPageTitle("CrossOriginResourceSharingHeaders class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                CrossOriginResourceSharingHeaders(string, String[], String[], TimeSpan) constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Entity.CrossOriginResourceSharingHeaders">
                    Sisk.Core.Entity.CrossOriginResourceSharingHeaders
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public CrossOriginResourceSharingHeaders(string[] allowOrigins, string[] allowMethods, string[] allowHeaders, TimeSpan maxAge)</code></pre>
<p>
    Create a new <a href="/spec/Sisk.Core.Entity.CrossOriginResourceSharingHeaders">CrossOriginResourceSharingHeaders</a> class instance with given parameters.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">allowOrigin</td>
    <td>The origin hostname allowed by the browser.</td>
</tr>
<tr>
    <td width="33%">allowMethods</td>
    <td>The allowed HTTP request methods.</td>
</tr>
<tr>
    <td width="33%">allowHeaders</td>
    <td>The allowed HTTP request headers.</td>
</tr>
<tr>
    <td width="33%">maxAge</td>
    <td>Defines the max-age cache expirity time.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
