<script>
    setPageTitle("RateLimiterRepository class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RateLimiterRepository class
            </h1>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public class RateLimiterRepository
</code>
</pre>
<p>
    Represents an <see cref="T:Sisk.Core.Routing.Handlers.RateLimiter" /> cache repository.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterRepository.HeapSize">
            HeapSize
        </a>
    </td>
    <td>
        Gets or sets the maximum number of requests this cache can store.
    <td>
</tr>
    </tbody>
</table>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterRepository.CacheRequest(HttpRequest)">
            CacheRequest(HttpRequest)
        </a>
    </td>
    <td>
        Caches the given HTTP request.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiterRepository.TestRequestByPolicy(HttpRequest-RateLimiterPolicy)">
            TestRequestByPolicy(HttpRequest, RateLimiterPolicy)
        </a>
    </td>
    <td>
        Tests whether a request is eligible to continue or will be throttled.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
