<script>
    setPageTitle("HttpRequestEventSource class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Identifier property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource">
                    Sisk.Core.Http.Streams.HttpRequestEventSource
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public string? Identifier { get; }</code></pre>
<p>
    Gets an unique identifier label to this EventStream connection, useful for finding this connection's reference later.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
