<script>
    setPageTitle("RequestHandlerAttribute class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RequestHandlerAttribute(Type) constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Routing.RequestHandlerAttribute">
                    Sisk.Core.Routing.RequestHandlerAttribute
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public RequestHandlerAttribute(Type handledBy)</code></pre>
<p>
    Creates a new instance of this attribute with the informed parameters.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">handledBy</td>
    <td>The type that implements  which will be instantiated.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
