<script>
    setPageTitle("HttpRequest class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                CreateOkResponse(string) method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpRequest">
                Sisk.Core.Http.HttpRequest
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public HttpResponse CreateOkResponse(string? content)
</code>
</pre>
<p>
    Creates an HttpResponse object with status code 200 OK and given content.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>content</td>
    <td>The string content.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
