<script>
    setPageTitle("HttpRequestEventSource class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HttpRequestEventSource class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http.Streams
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public class HttpRequestEventSource : IDisposable</code></pre>
<p>
    An <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource">HttpRequestEventSource</a> instance opens a persistent connection to the request, which sends events in text/event-stream format.
</p>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.HttpRequest">
            HttpRequest
        </a>
    </td>
    <td>
        Gets the <a href="/spec/Sisk.Core.Http.HttpRequest">HttpRequest</a> object which created this Event Source instance.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.Identifier">
            Identifier
        </a>
    </td>
    <td>
        Gets an unique identifier label to this EventStream connection, useful for finding this connection's reference later.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.IsActive">
            IsActive
        </a>
    </td>
    <td>
        Gets an boolean indicating if this connection is open and this instance can send messages.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.SentContentLength">
            SentContentLength
        </a>
    </td>
    <td>
        Gets an integer indicating the total bytes sent by this instance to the client.
    <td>
</tr>
    </tbody>
</table>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.AppendHeader(string-string)">
            AppendHeader(string, string)
        </a>
    </td>
    <td>
        Sends an header to the streaming context.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.Cancel()">
            Cancel()
        </a>
    </td>
    <td>
        Cancels the sending queue from sending pending messages and clears the queue.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.Close()">
            Close()
        </a>
    </td>
    <td>
        Closes the event listener and it's connection.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.Dispose()">
            Dispose()
        </a>
    </td>
    <td>
        Flushes and releases the used resources of this class instance.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.KeepAlive()">
            KeepAlive()
        </a>
    </td>
    <td>
        Asynchronously waits for the connection to close before continuing execution. This method is released when either the client or the server reaches an sending failure.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.KeepAlive(TimeSpan)">
            KeepAlive(TimeSpan)
        </a>
    </td>
    <td>
        Asynchronously waits for the connection to close before continuing execution with an maximum keep alive timeout. This method is released when either the client or the server reaches an sending failure.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.Send(Object)">
            Send(Object)
        </a>
    </td>
    <td>
        Writes a event message with their data to the event listener and returns an boolean indicating if the message was delivered to the client.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource.Send(string)">
            Send(string)
        </a>
    </td>
    <td>
        Writes a event message with their data to the event listener and returns an boolean indicating if the message was delivered to the client.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
