<script>
    setPageTitle("HttpServerConfiguration class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ErrorsLogsStream property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpServerConfiguration">
                Sisk.Core.Http.HttpServerConfiguration
            </a>
<p>
    Definition:
</p>
<pre>
public TextWriter? ErrorsLogsStream { get; set; }
</pre>
<p>
    Gets or sets the <see cref="T:System.IO.TextWriter" /> object which the HTTP server will write HTTP server error transcriptions to.
</p>
<blockquote>
    This stream could be empty if ThrowExceptions is true.
</blockquote>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
