<script>
    setPageTitle("HttpRequestEventSource class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Send(string) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpRequestEventSource">
                    Sisk.Core.Http.Streams.HttpRequestEventSource
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public bool Send(string data)</code></pre>
<p>
    Writes a event message with their data to the event listener and returns an boolean indicating if the message was delivered to the client.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">data</td>
    <td>The message text.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
