<script>
    setPageTitle("ServiceProviderConfigurator class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                UseHauting(bool) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Provider.ServiceProviderConfigurator">
                    Sisk.Provider.ServiceProviderConfigurator
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void UseHauting(bool preventHauting)</code></pre>
<p>
    Determines if the HTTP server should handle the application hauting for blocking the main loop or not.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
