<script>
    setPageTitle("HttpRequest class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                GetEventSource(string) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpRequest">
                    Sisk.Core.Http.HttpRequest
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public HttpRequestEventSource GetEventSource(string? identifier = null)</code></pre>
<p>
    Gets an Event Source interface for this request. Calling this method will put this <a href="/spec/Sisk.Core.Http.HttpRequest">HttpRequest</a> instance in it's event source listening state.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>identifier</td>
    <td>Defines an label to the EventStream connection, useful for finding this connection's reference later.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
