<script>
    setPageTitle("HttpRequest class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                GetHeader(string) method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpRequest">
                Sisk.Core.Http.HttpRequest
            </a>
<p>
    Definition:
</p>
<pre>
public string? GetHeader(string headerName)
</pre>
<p>
    Gets a header value using a case-insensitive search.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>headerName</td>
    <td>The header name.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
