<script>
    setPageTitle("HttpResponseStream class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                SetStatus(HttpStatusCode) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.Streams.HttpResponseStream">
                    Sisk.Core.Http.Streams.HttpResponseStream
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void SetStatus(int httpStatusCode)</code></pre>
<p>
    Sets the HTTP status code for this response stream.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">statusCode</td>
    <td>The HTTP status code.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
