<script>
    setPageTitle("RateLimiter class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Identifier property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Handlers.RateLimiter">
                Sisk.Core.Routing.Handlers.RateLimiter
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public string Identifier { get; init; }
</code>
</pre>
<p>
    Gets a unique identifier for this <see cref="T:Sisk.Core.Routing.Handlers.RateLimiter" /> instance.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
