<script>
    setPageTitle("LogOutput enum");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                LogOutput enum
            </h1>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public enum LogOutput
</code>
</pre>
<p>
    Determines the way the server can write log messages. This enumerator is for giving permissions for certain contexts to be able or not to write to the logs.
</p>
<h2 id="field">
    Field list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.LogOutput.AccessLog">
            AccessLog
        </a>
    </td>
    <td>
        Determines that the context or the route can write log messages only to the access logs.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.LogOutput.Both">
            Both
        </a>
    </td>
    <td>
        Determines that the context or the route can write log messages to both error and access logs.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.LogOutput.ErrorLog">
            ErrorLog
        </a>
    </td>
    <td>
        Determines that the context or the route can write error messages only to the error logs.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.LogOutput.None">
            None
        </a>
    </td>
    <td>
        Determines that the context or the route cannot write any log messages.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
