<script>
    setPageTitle("CrossOriginResourceSharingHeaders class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                CrossOriginResourceSharingHeaders() constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Entity.CrossOriginResourceSharingHeaders">
                    Sisk.Core.Entity.CrossOriginResourceSharingHeaders
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public CrossOriginResourceSharingHeaders()</code></pre>
<p>
    Creates an empty <a href="/spec/Sisk.Core.Entity.CrossOriginResourceSharingHeaders">CrossOriginResourceSharingHeaders</a> instance with no predefined CORS headers.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
