<script>
    setPageTitle("RequestHandlerFactory class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Setup(NameValueCollection) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Routing.RequestHandlerFactory">
                    Sisk.Core.Routing.RequestHandlerFactory
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public abstract void Setup(NameValueCollection setupParameters);</code></pre>
<p>
    Method that is called by the Agirax instantiator with the parameters defined in configuration before calling <a href="/spec/Sisk.Core.Routing.RequestHandlerFactory">BuildRequestHandlers</a>.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>setupParameters</td>
    <td>Parameters that are defined in a configuration file.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
