<script>
    setPageTitle("RequestHandlerExecutionMode enum");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RequestHandlerExecutionMode enum
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Routing
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public enum RequestHandlerExecutionMode</code></pre>
<p>
    Defines when the <a href="/spec/Sisk.Core.Routing.IRequestHandler">IRequestHandler</a> object should be executed.
</p>
<h2 id="field">
    Field list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/field.svg">
        <a href="/spec/Sisk.Core.Routing.RequestHandlerExecutionMode.AfterResponse">
            AfterResponse
        </a>
    </td>
    <td>
        Indicates that the handler must be executed after the route callback execution.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/field.svg">
        <a href="/spec/Sisk.Core.Routing.RequestHandlerExecutionMode.BeforeContents">
            BeforeContents
        </a>
    </td>
    <td>
        Indicates that the handler must be executed before the router calls the route callback and before the request content is available.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/field.svg">
        <a href="/spec/Sisk.Core.Routing.RequestHandlerExecutionMode.BeforeResponse">
            BeforeResponse
        </a>
    </td>
    <td>
        Indicates that the handler must be executed before the router calls the route callback and after request contents is loaded.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
