<script>
    setPageTitle("HttpResponse class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                SetCookie(string, string, DateTime?, TimeSpan?, string, string, bool?, bool?, string) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpResponse">
                    Sisk.Core.Http.HttpResponse
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void SetCookie(string name, string value, DateTime? expires, TimeSpan? maxAge, string? domain, string? path, bool? secure, bool? httpOnly)</code></pre>
<p>
    Sets a cookie and sends it in the response to be set by the client.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>name</td>
    <td>The cookie name.</td>
</tr>
<tr>
    <td>value</td>
    <td>The cookie value.</td>
</tr>
<tr>
    <td>expires</td>
    <td>The cookie expirity date.</td>
</tr>
<tr>
    <td>maxAge</td>
    <td>The cookie max duration after being set.</td>
</tr>
<tr>
    <td>domain</td>
    <td>The domain where the cookie will be valid.</td>
</tr>
<tr>
    <td>path</td>
    <td>The path where the cookie will be valid.</td>
</tr>
<tr>
    <td>secure</td>
    <td>Determines if the cookie will only be stored in an secure context.</td>
</tr>
<tr>
    <td>httpOnly</td>
    <td>Determines if the cookie will be only available in the HTTP context.</td>
</tr>
<tr>
    <td>sameSite</td>
    <td>The cookie SameSite parameter.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
