<script>
    setPageTitle("RequestHandlerFactory class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                BuildRequestHandlers() method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Routing.RequestHandlerFactory">
                    Sisk.Core.Routing.RequestHandlerFactory
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public abstract IRequestHandler[] BuildRequestHandlers();</code></pre>
<p>
    Builds and gets the <a href="/spec/Sisk.Core.Routing.IRequestHandler">IRequestHandler</a> instance objects used later by an <a href="/spec/Sisk.Core.Routing.Route">Route</a>.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
