<script>
    setPageTitle("LogStream class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                LogStream class
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Http
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public class LogStream : IDisposable</code></pre>
<p>
    Provides a managed, asynchronous log writer which supports writing safe data to log files or streams.
</p>
<h2 id="field">
    Field list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/field.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.ConsoleOutput">
            ConsoleOutput
        </a>
    </td>
    <td>
        Represents a LogStream that writes its output to the <a href="https://learn.microsoft.com/en-us/dotnet/api/System.Console.Out">Out</a> stream.
    <td>
</tr>
    </tbody>
</table>
<h2 id="property">
    Property list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.Encoding">
            Encoding
        </a>
    </td>
    <td>
        Gets or sets the encoding used for writting data to the output file. This property is only appliable if this instance is using an file-based output.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.FilePath">
            FilePath
        </a>
    </td>
    <td>
        Gets the absolute path to the file where the log is being written to.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/property.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.TextWriter">
            TextWriter
        </a>
    </td>
    <td>
        Gets the <a href="/spec/Sisk.Core.Http.LogStream">TextWriter</a> object where the log is being written to.
    <td>
</tr>
    </tbody>
</table>
<h2 id="constructor">
    Constructor list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/constructor.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.LogStream(TextWriter)">
            LogStream(TextWriter)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.LogStream">LogStream</a> instance with the given TextWriter object.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/constructor.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.LogStream(string)">
            LogStream(string)
        </a>
    </td>
    <td>
        Creates an new <a href="/spec/Sisk.Core.Http.LogStream">LogStream</a> instance with the given relative or absolute file path.
    <td>
</tr>
    </tbody>
</table>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.Close()">
            Close()
        </a>
    </td>
    <td>
        Writes all pending logs from the queue and closes all resources used by this object.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.Dispose()">
            Dispose()
        </a>
    </td>
    <td>
        Writes all pending logs from the queue and closes all resources used by this object.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.Peek(int)">
            Peek(int)
        </a>
    </td>
    <td>
        Reads the last few lines of the linked log file.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.Set()">
            Set()
        </a>
    </td>
    <td>
        Releases the execution of the queue.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.Wait(bool)">
            Wait(bool)
        </a>
    </td>
    <td>
        Waits for the log to finish writing the current queue state.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.Write(Object)">
            Write(Object)
        </a>
    </td>
    <td>
        Writes the text into the output.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.WriteException(Exception)">
            WriteException(Exception)
        </a>
    </td>
    <td>
        Writes an exception description in the log.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.WriteLine()">
            WriteLine()
        </a>
    </td>
    <td>
        Writes an line-break at the end of the output.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.WriteLine(Object)">
            WriteLine(Object)
        </a>
    </td>
    <td>
        Writes the text and concats an line-break at the end into the output.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.WriteLine(string-Object)">
            WriteLine(string, Object[])
        </a>
    </td>
    <td>
        Writes the text format and arguments and concats an line-break at the end into the output.
    <td>
</tr>
<tr>
    <td width="33%">
        <img src="/img/icons/method.svg">
        <a href="/spec/Sisk.Core.Http.LogStream.WriteLine(string)">
            WriteLine(string)
        </a>
    </td>
    <td>
        Writes the text and concats an line-break at the end into the output.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
