<script>
    setPageTitle("MultipartObject class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ReadContentAsString(Encoding) method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Entity.MultipartObject">
                Sisk.Core.Entity.MultipartObject
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public string? ReadContentAsString(Encoding encoder)
</code>
</pre>
<p>
    Reads the content bytes with the given encoder.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
