<script>
    setPageTitle("ListeningHostRepository class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Remove(ListeningHost) method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.ListeningHostRepository">
                Sisk.Core.Http.ListeningHostRepository
            </a>
<p>
    Definition:
</p>
<pre>
public bool Remove(ListeningHost item)
</pre>
<p>
    Try to remove a <see cref="T:Sisk.Core.Http.ListeningHost" /> from this repository. If the item is removed, this methods returns <c>true</c>.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>item</td>
    <td>The  to be removed.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
