<script>
    setPageTitle("HttpRequest class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                GetRawHttpRequest(bool) method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpRequest">
                Sisk.Core.Http.HttpRequest
            </a>
<p>
    Definition:
</p>
<pre>
public string GetRawHttpRequest(bool includeBody = true)
</pre>
<p>
    Gets the raw HTTP request message from the socket.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
