<script>
    setPageTitle("ServiceProvider class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                HttpServer property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Provider.ServiceProvider">
                    Sisk.Provider.ServiceProvider
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public HttpServer? HttpServer { get; }</code></pre>
<p>
    Gets the emitted HTTP server object instance interpreted from the configuration file.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
