<script>
    setPageTitle("MultipartObjectCommonFormat enum");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Unknown field
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Entity.MultipartObjectCommonFormat">
                Sisk.Core.Entity.MultipartObjectCommonFormat
            </a>
<p>
    Definition:
</p>
<pre>
Unknown = 0
</pre>
<p>
    Represents that the object is not a recognized image.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
