<script>
    setPageTitle("ServiceProvider class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ConfigureInit(ServiceProviderConfiguratorHandler) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Provider.ServiceProvider">
                    Sisk.Provider.ServiceProvider
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public void ConfigureInit(ServiceProviderConfiguratorHandler configurator)</code></pre>
<p>
    Defines the generation callback executed after the JSON file is interpreted by the server and then initializes the application.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>configurator</td>
    <td>The generation callback executed after the JSON file is interpreted by the server.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
