<script>
    setPageTitle("IRequestHandler interface");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Identifier property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Routing.Handlers.IRequestHandler">
                Sisk.Core.Routing.Handlers.IRequestHandler
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
string Identifier { get; init; }
</code>
</pre>
<p>
    Gets or sets the unique identifier of the instance of this interface.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
