<script>
    setPageTitle("ListeningHost class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ListeningHost(string, int, Router) constructor
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.ListeningHost">
                Sisk.Core.Http.ListeningHost
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public ListeningHost(ListeningHostProtocol protocol, string hostname, int port, Router r)
</code>
</pre>
<p>
    Creates an new <see cref="T:Sisk.Core.Http.ListeningHost" /> value with given parameters.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td>hostname</td>
    <td>The hostname (without the port) that this host will listen on the local machine.</td>
</tr>
<tr>
    <td>port</td>
    <td>The port this host will listen on.</td>
</tr>
<tr>
    <td>r</td>
    <td>The router which will handle this listener requests.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
