<script>
    setPageTitle("MultipartObject class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                GetCommonFileFormat() method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Entity.MultipartObject">
                Sisk.Core.Entity.MultipartObject
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public MultipartObjectImageFormat GetImageFormat()
</code>
</pre>
<p>
    Determine the image format based in the file header for each image content type.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
