<script>
    setPageTitle("RotatingLogPolicy class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Due property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Provider.RotatingLogPolicy">
                    Sisk.Provider.RotatingLogPolicy
                </a>
                (from Sisk.ServiceProvider)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public TimeSpan Due { get; set; }</code></pre>
<p>
    Gets the time interval between checks.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
