<script>
    setPageTitle("VerboseMode enum");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                VerboseMode enum
            </h1>
<p>
    Definition:
</p>
<pre>
public enum VerboseMode
</pre>
<p>
    Specifies the message level the <see cref="T:Sisk.Core.Http.HttpServer" /> should display.
</p>
<h2 id="field">
    Field list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.VerboseMode.Detailed">
            Detailed
        </a>
    </td>
    <td>
        Detailed messages will be written.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.VerboseMode.Normal">
            Normal
        </a>
    </td>
    <td>
        Only summary messages will be written.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Http.VerboseMode.Silent">
            Silent
        </a>
    </td>
    <td>
        No message will be written.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
