<script>
    setPageTitle("HttpServer class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                OnConnectionOpen event
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpServer">
                Sisk.Core.Http.HttpServer
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public event ReceiveRequestEventHandler? OnConnectionOpen;
</code>
</pre>
<p>
    Event that is called when this <see cref="T:Sisk.Core.Http.HttpServer" /> receives an request.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
