<script>
    setPageTitle("ListeningHost class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                CanListen property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.ListeningHost">
                    Sisk.Core.Http.ListeningHost
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public bool CanListen { get; }</code></pre>
<p>
    Gets whether this <a href="/spec/Sisk.Core.Http.ListeningHost">ListeningHost</a> can be listened by it's host <a href="/spec/Sisk.Core.Http.HttpServer">HttpServer</a>.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
