<script>
    setPageTitle("ListeningPort struct");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Port property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.ListeningPort">
                Sisk.Core.Http.ListeningPort
            </a>
<p>
    Definition:
</p>
<pre>
public int Port { get; set; }
</pre>
<p>
    Gets or sets the port where the server will listen.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
