<script>
    setPageTitle("ExceptionErrorCallback delegate");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ExceptionErrorCallback delegate
            </h1>
<p>
    Assembly: Sisk.Core
</p>
<p>
    Namespace: Sisk.Core.Routing
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public delegate HttpResponse ExceptionErrorCallback(Exception ex, HttpContext context);</code></pre>
<p>
    Represents the function that is called after the route callback threw an exception.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
