<script>
    setPageTitle("ListeningPort struct");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ListeningPort(int) constructor
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.ListeningPort">
                    Sisk.Core.Http.ListeningPort
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public ListeningPort(int port)</code></pre>
<p>
    Creates an new <a href="/spec/Sisk.Core.Http.ListeningPort">ListeningPort</a> instance with the specified port at the loopback host.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">port</td>
    <td>The port the server will listen on. If this port is the default HTTPS port (443), the class will have the property  to true.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
