<script>
    setPageTitle("HttpServerExecutionStatus enum");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ExceptionThrown field
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpServerExecutionStatus">
                Sisk.Core.Http.HttpServerExecutionStatus
            </a>
<p>
    Indicates that the server encountered an exception while processing the request.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
