<script>
    setPageTitle("HttpServerConfiguration class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ResolveForwardedOriginHost property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpServerConfiguration">
                Sisk.Core.Http.HttpServerConfiguration
            </a>
<p>
    Definition:
</p>
<pre>
public bool ResolveForwardedOriginHost { get; set; }
</pre>
<p>
    Gets or sets whether the HTTP server should resolve remote forwarded hosts by the header X-Forwarded-Host.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
