<script>
    setPageTitle("ServiceReloadManager class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ServiceReloadManager class
            </h1>
<p>
    Assembly: Sisk.ServiceProvider
</p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public static class ServiceReloadManager</code></pre>
<p>
    Provides an access to manage assembly hot reloads.
</p>
<h2 id="method">
    Method list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Provider.ServiceReloadManager.Clear()">
            Clear()
        </a>
    </td>
    <td>
        Clears all registrations from the assembly.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Provider.ServiceReloadManager.RegisterServiceProvider(ServiceProvider)">
            RegisterServiceProvider(ServiceProvider)
        </a>
    </td>
    <td>
        Registers a <a href="/spec/Sisk.Provider.ServiceProvider">ServiceProvider</a> to be recompiled every time the assembly is reloaded.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
