<script>
    setPageTitle("HttpServer class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                Restart() method
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Http.HttpServer">
                Sisk.Core.Http.HttpServer
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public void Restart()
</code>
</pre>
<p>
    Restarts this HTTP server, sending all processing responses and starting them again, reading the listening ports again.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
