<script>
    setPageTitle("HttpRequest class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                SendTo(RouterCallback) method
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpRequest">
                    Sisk.Core.Http.HttpRequest
                </a>
                (from Sisk.Core)
            </p>
<p>
    Definition:
</p>
<pre><code class="language-cs">public HttpResponse SendTo(RouterCallback otherCallback)</code></pre>
<p>
    Calls another handler for this request, preserving the current call-stack frame, and then returns the response from it. This method manages to prevent possible stack overflows.
</p>
<h2>
    Parameters
</h2>
<table>
    <tbody>
<tr>
    <td width="33%">otherCallback</td>
    <td>Defines the  method which will handle this request.</td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
