<script>
    setPageTitle("MultipartObject class");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                ContentLength property
            </h1>
            <p>
                Declaring type:
            </p>
            <a href="/spec/Sisk.Core.Entity.MultipartObject">
                Sisk.Core.Entity.MultipartObject
            </a>
<p>
    Definition:
</p>
<pre>
<code class="language-cs">
public int ContentLength { get; }
</code>
</pre>
<p>
    The multipart form data content length.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
