<script>
    setPageTitle("RouteMethod enum");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                RouteMethod enum
            </h1>
<p>
    Definition:
</p>
<pre>
[Flags]
            public enum RouteMethod : int
</pre>
<p>
    Represents an HTTP method to be matched in an <see cref="T:Sisk.Core.Routing.Route" />.
</p>
<h2 id="field">
    Field list
</h2>
<table>
    <tbody>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Any">
            Any
        </a>
    </td>
    <td>
        Represents any HTTP method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Copy">
            Copy
        </a>
    </td>
    <td>
        Represents the HTTP COPY method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Delete">
            Delete
        </a>
    </td>
    <td>
        Represents the HTTP DELETE method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Get">
            Get
        </a>
    </td>
    <td>
        Represents the HTTP GET method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Head">
            Head
        </a>
    </td>
    <td>
        Represents the HTTP HEAD method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Link">
            Link
        </a>
    </td>
    <td>
        Represents the HTTP LINK method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Options">
            Options
        </a>
    </td>
    <td>
        Represents the HTTP OPTIONS method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Patch">
            Patch
        </a>
    </td>
    <td>
        Represents the HTTP PATCH method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Post">
            Post
        </a>
    </td>
    <td>
        Represents the HTTP POST method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Put">
            Put
        </a>
    </td>
    <td>
        Represents the HTTP PUT method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Trace">
            Trace
        </a>
    </td>
    <td>
        Represents the HTTP TRACE method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.Unlink">
            Unlink
        </a>
    </td>
    <td>
        Represents the HTTP UNLINK method.
    <td>
</tr>
<tr>
    <td>
        <a href="/spec/Sisk.Core.Routing.RouteMethod.View">
            View
        </a>
    </td>
    <td>
        Represents the HTTP VIEW method.
    <td>
</tr>
    </tbody>
</table>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
