<script>
    setPageTitle("HttpStatusInformation structure");
    app.navPage = "spec";
</script>
<include name="component/header"></include>
<div id="appContainer">
    <section class="doc-container">
        <article class="section-content pad">
            <h1>
                StatusCode property
            </h1>
            <p>
                Declaring type:
                <a href="/spec/Sisk.Core.Http.HttpStatusInformation">
                    Sisk.Core.Http.HttpStatusInformation
                </a>
                (from Sisk.Core)
            </p>
<p>
    Gets or sets the numeric HTTP status code of the HTTP message.
</p>
                    </article>
        <include name="/spec/__Component"></include>
    </section>
</div>
