<div class="doc-navigator">
    <a href="/docs/getting-started">
        Getting Started
    </a>
    <a href="/docs/installing">
        Installing
    </a>
    <a href="/docs/examples">
        Examples
    </a>
    <a href="/docs/native-aot">
        Native AOT
    </a>
    <a href="/docs/service-provider">
        Service Providers
    </a>
    <div class="separator">
        Fundamentals
    </div>
    <a href="/docs/fundamentals/routing">
        Routing
    </a>
    <a href="/docs/fundamentals/request-handling">
        Request Handling
    </a>
    <a href="/docs/fundamentals/requests">
        Requests
    </a>
    <a href="/docs/fundamentals/responses">
        Responses
    </a>
    <div class="separator">
        Features
    </div>
    <a href="/docs/features/logging">
        Logging
    </a>
    <a href="/docs/features/server-side-events">
        Server-side Events
    </a>
    <a href="/docs/features/web-sockets">
        Web Sockets
    </a>
</div>